<?xml version='1.0' encoding='utf-8'?>
<widget id="edu.coastline.bdats" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Cyber Attack - Math</name>
    <description>
        Cyber Security themed College Entrance Exam Preparation app - Math version
    </description>
    <author email="dthompson@coastline.edu" href="http://apps.coastline.edu/games">
        BDATS
    </author>
    <content src="index.html" />
    <access origin="*" />
	<preference name="orientation" value="landscape"/>
	<preference name="AllowInlineMediaPlayback" value="true"/>  
	<icon src="icon.png" />
	
	<icon src="res/icon/android/icon-36-ldpi.png" platform="android" qualifier="ldpi" />
	<icon src="res/icon/android/icon-48-mdpi.png" platform="android" qualifier="mdpi" />
	<icon src="res/icon/android/icon-72-hdpi.png" platform="android" qualifier="hdpi" />
	<icon src="res/icon/android/icon-96-xhdpi.png" platform="android" qualifier="xhdpi" />
</widget>
